<div class="row" >
  <div class="col-xs-12">
    <div class="box">
      <mat-button-toggle-group>
        <mat-button-toggle (click)="abmMovil('INS', null)">
          Agregar Móvil
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Buscar móvil...</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Ej.: 236"
                #input
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <div *ngIf="!verMovil" align="center">
          <h2 class="example-h2">Cargando Moviles...</h2>
          <mat-progress-spinner
            class="example-margin"
            color="accent"
            mode="indeterminate"
            style="margin: 0px auto"
          >
          </mat-progress-spinner>
        </div>

        <table mat-table [dataSource]="dataSource" matSort *ngIf="verMovil">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Móvil</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let row">
              {{ row.estado === "A" ? "Activo" : "Deshabilitado" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-mini-fab
                matTooltip="Editar móvil"
                class="button-editar"
                matTooltipClass="tooltip-blue"
                (click)="abmMovil('UPD', row)"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-mini-fab
                style="margin-left: 5px"
                matTooltip="Eliminar móvil"
                matTooltipClass="tooltip-red"
                (click)="abmMovil('DLT', row)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No existen datos con el filtro: "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
