<div class="row row-mt-10">
  <div class="col-xs-12 col-p-rl-30">
    <div class="box">
      <ng-container
        *ngFor="let configurarNotificacion of configurarNotificaciones"
      >
        <ion-title class="ion-padding">
          {{ getTitle( configurarNotificacion.titulo ) }}
        </ion-title>
        <ion-item>
          <ion-label>Notificaciones push</ion-label>
          <ion-toggle
            [(ngModel)]="configurarNotificacion.recibePorPush"
            (ionChange)="configurarNotificacion.callback( configurarNotificacion, configurarNotificacion.id )"
            slot="start"
          ></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Notificaciones por email </ion-label>
          <ion-toggle
            [(ngModel)]="configurarNotificacion.recibePorMail"
            (ionChange)="configurarNotificacion.callback(  configurarNotificacion, configurarNotificacion.id )"
            slot="start"
          ></ion-toggle>
        </ion-item>
      </ng-container>
    </div>
  </div>
</div>
