<div class="row row-mt-10">
  <div class="col-xs-12 col-p-rl-30">
    <div class="box">
      <mat-button-toggle-group>
        <mat-button-toggle
          (click)="abmCurso('INS', null)"
          >Agregar Curso</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-p-rl-30">
    <div class="box">
      <mat-form-field
        class="full-width"
        appearance="fill">
        <mat-label>Buscar curso...</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ej.: Aspirante conductor"
          #input
        />
      </mat-form-field>

      <div class="mat-elevation-z8">
        <div *ngIf="!verCurso" align="center">
          <h2 class="example-h2">Cargando cursos...</h2>
          <mat-progress-spinner
            class="margin-auto"
            color="accent"
            mode="indeterminate"
          >
          </mat-progress-spinner>
        </div>

        <table mat-table [dataSource]="dataSource" matSort *ngIf="verCurso">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-mini-fab
                matTooltip="Editar curso"
                class="button-editar"
                matTooltipClass="tooltip-blue"
                (click)="abmCurso('UPD', row)"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-mini-fab
                matTooltip="Eliminar curso"
                matTooltipClass="tooltip-red ml-5"
                (click)="abmCurso('DLT', row)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No existen datos con el filtro: "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
