// mat-button-toggle-group {
//   margin-left: 12px;
// }
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.tooltip-red {
    background: #b71c1c;
}

.tooltip-blue {
    background: #1976d2;
}

.button-eliminar {
    background-color: #b71c1c;
    color: white;
}

.button-editar {
    background-color: #1976d2;
    color: white;
}

.full-width {
    width: 100%;
    margin-top: 10px;
}

.row {
    width: 100%;
}